* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: grey;
}

#container {
    border: solid, 2px, red;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    margin: auto;
}

.content {
    flex: 1 0 var(--basis);
    height: var(--height);
    border: solid, 1px, blue;
    background-color: azure;
}

